.movie-page {
	background: var(--main-bg-color);
	width: calc(100% - 320px);
	position: absolute;
	top: 0;
	right: 0;
	.container {
		width: 100%;
		margin: 0 auto;
		position: relative;
		.video-wrap {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;

			height: 100vh;

			.open {
				display: block;
				padding-top: 56.25%;
				position: relative;
				box-shadow: 0 0 0 100vh rgba(0, 0, 0, 0.8);
				z-index: 99;
				.close-trailer {
					position: absolute;
					top: 100%;
					right: 50%;
					transform: translateX(50%) scale(1);
					border: none;
					font-size: 30px;
					color: #eeeeee;
					background: transparent;
					line-height: 1;
					z-index: 101;

					transition: 0.3s;
					&:hover {
						color: #fff;
						transform: translateX(50%) scale(1.2);
					}
				}
				.react-player {
					position: absolute;
					top: 0;
					left: 0;
				}
			}
			.close {
				display: none;
			}
		}
		.img-wrap {
			overflow: hidden;
			position: relative;
			> img {
				width: 100%;

				position: relative;
			}
			&:after {
				content: "";
				width: 100%;
				height: 100%;
				background: linear-gradient(
					180deg,
					rgba(17, 8, 29, 0.05) -35%,
					rgba(17, 8, 29, 0.95) 75%,
					#11081d 100%
				);
				position: absolute;
				left: 0;
				top: 0;
			}
		}

		.text-wrap {
			padding: 0 50px;
			position: absolute;
			left: 0;
			top: 200px;
			width: 100%;
			.title-wrap {
				z-index: 1;
				width: 60%;
				h2 {
					margin-bottom: 30px;
				}
				h3 {
					margin-bottom: 30px;
					font-style: italic;
				}
				.genre-list {
					margin-bottom: 20px;
					.blurred {
						margin-right: 10px;
						font-size: 13px;
						margin-bottom: 10px;
					}
				}
				.desc {
					margin-bottom: 40px;
				}

				.trailer {
					.play.blurred {
						margin-bottom: 10px;
						span {
							padding-left: 10px;
							img {
								max-width: 12px;
							}
						}
						&:hover {
							background: var(--border-color);
						}
					}
					h5 {
						padding: 10px;
						color: #cccccc;
						display: inline-block;
						background: rgba(53, 41, 67, 0.5);
						border-radius: 40px;
						margin-bottom: 20px;
						backdrop-filter: blur(10px);
						font-weight: 300;
					}
				}
			}
			.movie-details {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				margin-bottom: 30px;
				h4 {
					font-size: 40px;
					font-weight: 700;
					padding-right: 25px;
					margin-right: 25px;
					display: flex;
					align-items: center;
					border-right: 1px solid var(--border-color);
				}
				button {
					border: 1px solid transparent;
					border-radius: 50%;
					background-clip: content-box;

					span {
						&.star {
							margin-right: 10px;
							width: 24px;
						}
						&.calendar {
							margin-right: 10px;
						}

						&.favorite {
							width: 40px;
							height: 40px;
							background: rgba(53, 41, 67, 0.5);
							backdrop-filter: blur(10px);
							border-radius: 50%;
							display: flex;
							align-items: center;
							justify-content: center;
							font-size: 14px;
							line-height: 1;
							transition: all 0.2s;
							&:after {
								content: "";
								width: 40px;
								height: 40px;
								border-radius: 50%;
								background: #fff;
								position: absolute;
								top: 0;
								left: 0;
								opacity: 0.3;
								transform: scale(0);

								z-index: -1;
							}
							&:hover {
								background: var(--border-color);
							}
							&.pop {
								&:after {
									transition: transform 0.7s, opacity 0.7s;
									transform: scale(1.7);
									opacity: 0;
								}
							}
						}
					}
				}
			}
			.cast {
				.cast-wrap {
					display: grid;
					grid-template-columns: repeat(
						auto-fill,
						minmax(160px, 1fr)
					);
					grid-gap: 15px;
					margin-bottom: 40px;
					.cast-card {
						max-width: 180px;
						margin-bottom: 20px;
						margin-right: 0;
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						.cast-img {
							margin-bottom: 20px;
							background: var(--border-color);
							display: flex;
							align-items: center;
							justify-content: center;
							border-radius: 6px;
							overflow: hidden;
						}
						.cast-info {
							display: flex;
							flex-direction: column;
							justify-content: flex-start;
							min-height: 60px;
							.name {
								margin-bottom: 10px;
							}
							.character {
								font-size: 11px;
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 1500px) {
	.movie-page {
		.container {
			.text-wrap {
				.title-wrap {
					width: 80%;
					h2 {
						font-size: 70px;
						margin-bottom: 20px;
					}
					h3 {
						margin-bottom: 20px;
					}
					.genre-list {
						margin-bottom: 20px;
					}
				}
			}
		}
	}
}

@media (max-width: 1280px) {
	.movie-page {
		.container {
			.video-wrap {
				.open {
					top: 50%;
					transform: translateY(-50%);
					.close-trailer {
						top: 100%;
						right: 50%;
						transform: translateX(50%);
						font-size: 24px;
					}
				}
			}
			.img-wrap {
			}
			.text-wrap {
				.title-wrap {
					h2 {
						font-size: 60px;
						margin-bottom: 15px;
					}
					h3 {
						margin-bottom: 15px;
					}
					.genre-list {
						margin-bottom: 15px;
					}
				}
				.movie-details {
					margin-bottom: 15px;
					h4 {
						font-size: 32px;
					}
					span {
						img {
							max-width: 20px;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.movie-page {
		width: 100%;
		.container {
			.video-wrap {
				.open {
					.close-trailer {
						top: 100%;
						right: 50%;
						transform: translateX(50%);
						font-size: 24px;
					}
				}
			}
			.img-wrap {
				margin-bottom: 20px;
			}

			.text-wrap {
				padding: 0 30px;
				top: 170px;
				.title-wrap {
					h2 {
						font-size: 60px;
					}
					.trailer {
						.play {
							padding: 10px 15px;
							span {
							}
						}
					}
					.genre-list {
						margin-bottom: 10px;
					}

					.desc {
						margin-bottom: 15px;
					}
				}
				.movie-details {
					margin-bottom: 15px;
					h4 {
						font-size: 30px;
					}
					span {
						img {
							max-width: 16px;
						}
					}
				}
				.cast {
					.cast-wrap {
						display: grid;
						grid-template-columns: repeat(
							auto-fill,
							minmax(120px, 1fr)
						);
						grid-gap: 10px;
						.cast-card {
							max-width: none;

							.cast-img {
								margin-bottom: 12px;
								min-height: auto;
							}
						}
					}
				}
			}
		}
	}
}
@media (max-width: 460px) {
	.movie-page {
		.container {
			.img-wrap {
				margin-bottom: 15px;
			}
			.text-wrap {
				padding: 0 20px;
				top: 150px;
				.title-wrap {
					width: 100%;
					h2 {
						font-size: 40px;
					}
					.trailer {
						.play {
							padding: 5px 10px;
							font-size: 12px;
							span {
								img {
									max-width: 10px;
								}
							}
						}
						h5 {
							padding: 10px;
							margin-bottom: 0;
						}
					}
				}
				.movie-details {
					flex-wrap: wrap;
					h4 {
						font-size: 16px;
						padding-right: 12px;
						margin-right: 12px;
					}
					button {
						span {
							line-height: 1;
							&.favorite {
								width: 32px;
								height: 32px;
							}
						}
					}
				}
				.cast {
					.cast-wrap {
						display: grid;
						grid-template-columns: repeat(
							auto-fill,
							minmax(110px, 1fr)
						);
						.cast-card {
							.cast-info {
								.character {
									font-size: 11px;
								}
							}
						}
					}
				}
			}
		}
	}
}
