.loader {
	width: 40px;
	height: 40px;
	margin: 150px auto;
	&:after {
		content: " ";
		display: block;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		border: 3px solid;
		border-color: #fff transparent #fff transparent;
		animation: loader 1.2s linear infinite;
	}
}
@keyframes loader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
